*{
 box-sizing:border-box;
 font-family:'Segoe UI', Arial, sans-serif
}

body{
 margin:0;
 background:#f4f6f9;
 color:#1f2d3d
}

/* NAVBAR */
.navbar{
 display:flex;
 align-items:center;
 justify-content:space-between;
 padding:15px 40px;
 background:#fff;
 border-bottom:1px solid #e5e7eb
}

.logo{height:50px}

.nav-center a{
 margin:0 14px;
 text-decoration:none;
 color:#475569;
 font-weight:500;
 font-size:15px
}

.nav-center i{
 margin-right:6px;
}

.nav-right{
 font-size:14px;
 color:#111827
}

/* HERO */
.hero{
 position:relative;
 height:380px;
 background:url('baner.jpg') center/cover no-repeat;
}

.hero-overlay{
 position:absolute;
 inset:0;
 background:rgba(0,0,0,0.55);
}

.hero-content{
 position:relative;
 z-index:2;
 height:100%;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 text-align:center;
 color:#fff;
 padding:0 20px;
}

.hero h1{
 font-size:52px;
 margin-bottom:20px
}

.hero p{
 font-size:18px;
 max-width:900px;
 line-height:1.6
}

/* VERIFY */
.verify{
 text-align:center;
 padding:80px 20px 40px;
}

.verify h2{
 font-size:44px;
 margin-bottom:8px
}

.verify .sub{
 font-size:18px;
 font-weight:600;
 margin-bottom:14px
}

.verify .desc{
 max-width:900px;
 margin:auto;
 font-size:16px;
 line-height:1.6
}

/* CERTIFICADO */
.cert-vertical{
 display:flex;
 flex-direction:column;
 align-items:center;
 gap:40px;
 padding:60px 20px 90px;
}

.cert-img{
 max-width:900px;
 width:95%;
 box-shadow:0 15px 30px rgba(0,0,0,.25);
 border-radius:6px
}

.cert-bottom{
 max-width:520px;
 background:#fff;
 padding:35px;
 border-radius:14px;
 box-shadow:0 10px 25px rgba(0,0,0,.12);
 text-align:center
}

.cert-bottom h3{
 margin-bottom:22px;
 font-size:24px
}

.cert-bottom p{
 font-size:16px;
 margin-bottom:14px
}

.btn{
 display:inline-block;
 margin-top:22px;
 background:#0f766e;
 color:#fff;
 padding:15px 30px;
 border-radius:8px;
 text-decoration:none;
 font-size:16px
}

.btn:hover{
 background:#115e59
}

/* FRANJA NEGRA SOLO IDIOMA */
.top-bar {
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 40px;
    font-size: 13px;
}

    .top-bar i {
        margin-right: 6px;
        font-size: 12px;
    }
.nav-center a{
    margin:0 16px;
    text-decoration:none;
    color:#000;
    font-size:15px;
    font-weight:500;
    position:relative;
}

.nav-center a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:2px;
    background:#000;
    transition:width .25s ease;
}

.nav-center a:hover::after{
    width:100%;
}
